= @page_style.html_safe
= @header.html_safe
= @content.html_safe
= @footer.html_safe
/!
  <nav><ul class="side-nav"> <li><a href="#">Link 1</a></li> <li><a href="#">Link 2</a></li> <li><a href="#">Link 3</a></li> <li><a href="#">Link 4</a></li> </ul></nav>
